html
  head
    meta(charset="utf-8")
    title Noiseless AMA
    link(rel='stylesheet', href='/styles/main.css')
  body
    .title-container
      h1= title
    .ama-container
      <div class="thread">
      for comment in result
        if comment && comment.level
          if comment.level == 1
            </div>
            <div class="thread">
          - for(var i=0;i<comment.shift;i++) {
            <div class="shift">
          - }
              if comment && comment.data
                if comment.data.author in op || comment.data.author_flair_text in op
                  <div class="comment ans">
                else
                  <div class="comment">    
                <div class="main">
                //- p= comment.total_children
                p!= comment.data.body_html
                </div>
                if multiA && comment.data.author in op
                  .author
                    p 
                      span!= "– "+comment.data.author
                </div>
          - for(var i=0;i<comment.shift;i++) {
            </div>
          - }
      </div>
      </div>
  footer
    p Created by 
      a(href='http://sidverma.net') Sid Verma
      | .
    p
      a.source(href='http://github.com/mavidser/NoiselessAMA') View Source on Github
  script(type='text/javascript').
    function switchToThread() {
      document.getElementsByTagName("body")[0].className += " threadMode"
    }
    function switchToDefault() {
      document.getElementsByTagName("body")[0].className -= " threadMode"
    }
