doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Noiseless AMA

    link(rel='stylesheet', href='/styles/main.css')
    //- link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')

    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    //- script(src='/scripts/app.js')
    
  body
    .main-container
      form(action='ama',method='get')
        input(type='text',placeholder='Enter the URL of the AMA',name='id').main-input
        input(type='submit',value='Remove Noise').main-submit
