html {
  margin: 0 auto;
  height: 100%
}

body { 
  font-family: 'Open Sans','Helvetica Neue','Segoe UI','Lucida Sans',sans-serif;
  font-size: 12pt;
  height: 100%; 
  margin: 0 auto;
  padding: 0; 
}

input.main-input {
  border: 1px solid #ddd;
  width: 500px;
  padding: 0.6em 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
}

input.main-submit {
  border: 1px solid #e03b13;
  padding: 0.6em 1.2em;
  background: #f04b23;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
}
.main-container {
  padding-top: 250px;
  text-align: center;
  
}


/*-----------------------*/


blockquote {
  border-left: solid #ab5 5px;
  margin: 0;
  padding-left: 10px;
}
p {
  margin: 15px 0;
  padding: 0;
}
.title-container {
  padding: 0 50px;
  padding-top: 20px;
  max-width: 1000px;
  margin: 0 auto;
}
.title-container > h1 {
  font-weight: 300;
  font-size: 2em;
}
.ama-container {
  padding: 50px;
  padding-top: 0px; 
  max-width: 1000px;
  margin: 0 auto;
}
.shift {
  margin-left: 50px;   
}
.thread {
  margin: 50px 0;
}
.comment {
  margin: 2px 0;
  border: #eef solid 1px;
  /*border-radius: 5px;*/
  border-left: #eef solid 10px;
  background: #fafaff;
}
.ans {
  border: #cd7 solid 1px;
  border-left: #cd7 solid 10px;
  background: #de8;
}
.comment::before {
  display: table-cell;
  background: #cd7;
  text-align: center;
  height: 100%;
  width: 50px;
  font-size: 2em;
  font-weight: bold;
  color: #ab5;
  vertical-align: middle;
}
/*.ans::before {
  content: "A";
  display: table-cell;
  background: #cd7;
  text-align: center;
  height: 100%;
  width: 50px;
  font-size: 2em;
  font-weight: bold;
  color: #ab5;
  vertical-align: middle;
}*/
.main {
  top: 0;
  padding: 0px 15px;
  display: table-cell;
  position: relative;
}
.author {
  text-align: right;
  padding-right: 15px;
}
.author span {
  background: #cd7;
  padding: 0 10px;
  font-style: italic;
}

/*-------------------------------*/


footer {
  margin-top: 50px;
  color: #555;
  border-top: #aaa solid 5px;
  padding: 20px;
  text-align: center;
  background: #ddd;
}

footer > p > a,footer > p > a:visited,footer > p > a:hover {
  color: #555;
}

a.source {
  font-size: 0.8em;
}
